@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}
button{
    border-radius: 5px;
    
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $text-color;
}

.container {
    padding: 25px calc((100vw - 960px) / 2);
// background:white !important;
    @media (max-width: 980px) {
        // padding: 25px 10px;
    }
}

.container-lite {
    padding: 10px 15vw 0px ;
background:white !important;
// height:100vh;
    @media (min-width: 850px) and (max-width:1200px) {
        padding: 25px 10px;
    }
}
.container-lite-blog {
    // padding: 10px 15vw 0px ;
background:white !important;
@media (min-width: 850px) {
    height:100vh;
    display:flex;
        padding: 25px 10px;
    }
  
}
.container-dark {
    padding: 25px calc((100vw - 960px) / 2);
// background:white !important;
color:white;
    @media (max-width: 980px) {
        padding: 25px 10px;
    }
}

.blog-header{
    padding: 5px 5px;
    color:white;
    background-color: $primary-color;
    height: 30px;
     border-bottom: 1px solid black;
    
}

.profile-page{
    display:flex;
    justify-content: space-around;
    height: 100%
}

.profile-personal{
    width:50%;
    height:100%;
}

.profile-blog{
     .container-lite{
       padding:0px !important;
background:white !important;
     }

}

.edit-field{
    height:40vh;
    overflow: auto;
    button+br{
        display:none;
    }
    div{
        height:35vh;
        //    text-area{
            //         height:30vh !important;
            //     }
            div{
        height: 20px!important;
        z-index: 1000; 
        background-color: white;  
    position:relative; }
   } 



}