button {
    padding: 10px 15px;
    font-size: 14px;
    background-color: $primary-color;
    color: #fff;
    transition: 250ms all ease-in-out;
    border: none;
    border-bottom: 4px solid ($primary-shade);
    // border-right: 4px solid ($primary-shade);
    outline: none;
    border-radius: 4px;

    &:active{
        background-color: $primary-color !important;
        // box-shadow: 0 5px #666;
        transform: translateY(4px);
        border-bottom: 0px solid ($primary-shade);
        //  border-right: 0px solid ($primary-shade);
         margin-bottom:4px;
    }
    &:hover {
        cursor: pointer;
        background-color: lighten($primary-color, 8%);
    }

    &-secondary {
        background-color: $secondary-color;

        &:hover {
            background-color: lighten($secondary-color, 8%);
        }
    }
}
.checkbox{
    padding: 10px 15px;
    font-size: 14px;
    // background-color: $primary-color;
    // color: #fff;
    transition: 250ms all ease-in-out;
    border: none;
    border-bottom: 4px solid ($primary-shade);
    // border-right: 4px solid ($primary-shade);
    outline: none;
    border-radius: 4px;
}

.input {
    border-radius: 3px;
    border: 1px solid $grey;
    transition: 250ms all ease-in-out;
    outline: none;
    color: $text-color;
    padding: 5px 10px;
    background-color: #fff;
    font-size: 16px;
    min-width: 250px;
    max-width: 100%;

    &:focus {
        border-color: $primary-color;
        color: $primary-color;
    }
}

.separator {
    display: block;
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background-color: $grey;
    border: none;
    outline: none;
}

.link {
    color: $primary-color;
    text-decoration: none;
    transition: 250ms all ease-in-out;

    &:visited {
        color: $primary-color;
    }

    &:hover {
        color: lighten($primary-color, 8%);
    }
}
@media (max-width: 768px) { 
    
 }
.blog-field{
    resize:none;
    border-radius:5px;
    height:70%;
    width: 100%;
    font-size: 14px;

    &:focus{
        border: 2px solid #555;
        outline:none;
        padding-top:0px;
    }
    @media (max-width: 850px) {
        height:300px;
        }
}
.title-field{
    // resize:none;
    border-radius:5px;
    // height:300px;
    width: 50%;
    font-size: 14px;
    border: 1px solid black;

    &:focus{
        border: 2px solid #555;
        outline:none;
        padding-bottom:0px;
    }
}
.coll-field{
    // resize:none;
    border-radius:5px;
    // height:300px;
    width: 30%;
    font-size: 14px;
    border: 1px solid black;

    &:focus{
        border: 2px solid #555;
        outline:none;
        padding-bottom:0px;
    }
}

.feed{
    overflow: auto;
    height: 80%;
    border: 1px solid black;
    border-radius:5px;
    width:80%;
    white-space: pre-wrap;
    @media (max-width: 850px) {
        height:342px;
        }
}

.dropdown{
    border:black solid 1px;
    border-radius:5px;
    margin-bottom: .5px;
    // border-bottom:black solid .5px;
    width:60%;
}