.navigation {
    background-color: $primary-color;
    height: 60px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.title-name{
    font-size: 20px;
}
.nav-link {
    color: #fff;

    &:visited {
        color: #fff;
        font-weight: bold;
    }

    &:hover {
        color: rgba(255, 255, 255, .5);
    }
 
//     &:active {
//       }
}

// .App-header {
//     background-color: $primary-color;
//     padding: 20px;
//     color: white;

//     a {
//       color: white;
//       padding: 0 5px;
//       text-decoration: unset;
//     }

//     a.active {
//       font-weight: bold;
//     }
//   }

  


  
